@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-Bold.ttf');
    src: url('./../fonts/Manrope/static/Manrope-Bold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-Bold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 700 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-ExtraBold.ttf');
    src: url('./../fonts/Manrope/static/Manrope-ExtraBold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-ExtraBold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 800 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-ExtraLight.ttf');
    src: url('./../fonts/Manrope/static/Manrope-ExtraLight.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-ExtraLight.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 200 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-Light.ttf');
    src: url('./../fonts/Manrope/static/Manrope-Light.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-Light.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 300 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-Medium.ttf');
    src: url('./../fonts/Manrope/static/Manrope-Medium.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-Medium.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 500 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-Regular.ttf');
    src: url('./../fonts/Manrope/static/Manrope-Regular.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-Regular.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 400 
}
@font-face {
    font-family: 'Manrope';
    src: url('./../fonts/Manrope/static/Manrope-SemiBold.ttf');
    src: url('./../fonts/Manrope/static/Manrope-SemiBold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 600 
}
